:root {
    --primaryColor: #000000;
    --secondaryColor: rgb(220, 220, 220);
    --xPadding: 0 15vw;

    --navHoverFontSize: 22.5px;
    --navWidth: 35vw;

    --socialHoverHeight: 5vw;
}

.nav {
    width: var(--navWidth);
    list-style-type: none;
    display: flex;
    margin: 0 auto;
    padding: 0;
    padding-top: 3vh;
    height: var(--navHoverFontSize);
    text-align: center;
}

.nav-item {
    box-sizing: border-box;
    width: calc(var(--navWidth) / 2);
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
}

.nav-item:hover {
    color: white;
    font-size: var(--navHoverFontSize);
}

.headline {
    font-size: 48px; 
    font-weight: 600;
    padding: var(--xPadding);
    padding-top: 3vw;
}

.project-box {
    padding: var(--xPadding);
    padding-top: 2vw;
    padding-bottom: 2vw;
    text-align: center;
}

.project-title {
    font-size: 22.5px;
    font-weight: 600;
    float: left;
}

.project-date {
    font-size: 20px;
    font-weight: 600;
    float: right;
    color: var(--secondaryColor);
}

.project-body {
    padding: 2vw 5vw 3vw 5vw;
    float: left;
    font-size: 20px;
    line-height: 120%;
    text-align: left;
}

.yt-video {
    width: 30vw;
    height: 40vh;
}


hr {
    width: 60vw;
    margin: 4vw auto;
    color: var(--primaryColor);
}


a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
    color: var(--primaryColor);
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(to top left,#9686cd, #dec7a8);
}
