:root {
    --primaryColor: #000000;
    --secondaryColor: rgb(157, 157, 157);
    --xPadding: 0 20vw;
}

.nav {
    --navWidth: 20vw;

    width: var(--navWidth);
    list-style-type: none;
    display: flex;
    margin: 0 auto;
    padding: 0;
}

.nav-item {
    box-sizing: border-box;
    width: calc(var(--navWidth) / 2);
    font-size: 20px;
    text-decoration: none;
}

.headline {
    font-size: 60px; 
    padding: 7.5vw 0 0 0;
}

.sub-headline {
    font-size: 20px; 
    color: var(--secondaryColor);
    padding: var(--xPadding);
    line-height: 30px;
}

.social-logo {
    height: 3.5vw;
}

.container {
    height: 100vh;
    padding: 2vw 0 0 0;
}

.coming-soon {
    padding-top: 7.5vw;
    font-size: 25px;
    color: var(--secondaryColor);

    position: relative;
    display: inline-block;

    animation: flip 3s infinite;
    animation-delay: 1s;
}


.down-chevron {
    width: 10vw;
    padding-top: 5vw;
}

hr {
    width: 40vw;
    margin: 4vw auto;
    color: var(--secondaryColor);
}

h1 {
    text-align: left;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
    text-align: center;
    color: var(--primaryColor);
    font-family: 'Lora', serif;
}



@keyframes flip {
    0%,40% {
        transform: rotateY(360deg) 
    }
}