.Game {
  text-align: center;
  justify-content: center;
  max-width: 1000px;
}

.game-container {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0 5vw
}

.team-container {
  padding-top: 10px;
  width: 40vw;
}

.team-info {
  text-align: center;
  margin: 0 2vw
}

.team {
  align-items: center;
  display: grid;
  font-size: 20px;
  font-weight: 450;
  height: 80px;
}

.percentage {
  font-size: 18px;
  margin-top: 5px;
}

.vs {
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  color: rgb(151, 151, 151);
  width: 5vw;
  height: 80px;
}

.game-divider {
  width: 60%;
  margin: 2.55vh auto;
}