.Game {
  text-align: center;
  justify-content: center;
  width: 100vw;
}

.game-container {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0 5vw
}

.team-container {
  padding-top: 20px;
  width: 40vw;
}

.team-logo {
  width: 75px;
  margin: 0 3vw;
  display: inline-block;
}

.team-info {
  text-align: center;
  margin: 0 2vw
}

.team {
  align-items: center;
  display: grid;
  font-size: 20px;
  font-weight: 350;
  height: 80px;
  padding-bottom: 10px;
}

.percentage {
  font-size: 18px;
  margin-top: 5px;
}

.vs {
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  color: rgb(151, 151, 151);
  width: 5vw;
  height: 80px;
}

.game-divider {
  width: 40%;
  margin: 5vh auto;
}