.nav {
    width: var(--navWidth);
    list-style-type: none;
    display: flex;
    margin: 0 auto;
    padding: 0;
    padding-top: 3vh;
    height: var(--navHoverFontSize);
    text-align: center;
}

.nav-item {
    box-sizing: border-box;
    width: calc(var(--navWidth) / 2);
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
}

.nav-item:hover {
    color: white;
    font-size: var(--navHoverFontSize);
}

.headline {
    font-size: 48px; 
    font-weight: 600;
    padding: var(--xPadding);
    padding-top: 10vh;
}

.sub-headline {
    font-size: 25px; 
    color: var(--primaryColor);
    padding: var(--xPadding);
    padding-top: 3vh;
    line-height: 35px;
}

.social-bar {
    height: var(--socialHoverHeight);
}

.social {
    height: 3vw;
    padding: 0 0.5vw;
}

.social:hover { 
    height: var(--socialHoverHeight);
}

hr {
    width: 40vw;
    margin: 4vw auto;
    color: var(--primaryColor);
}

h1 {
    text-align: left;
}

a {
    text-decoration: none;
    color: inherit;
}

.Home {
    margin: 0;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-align: center;
    color: var(--primaryColor);
    font-family: "Lato", sans-serif;
}