/* Nav.css */
.nav-container {
    display: flex;
    width: 100vw;
    justify-content: space-between;
}

.gg {
    text-align: left;
    padding: 0 0 0 5vw;
    font-size: 45px;
    font-weight: 800;
    width: 5vw;
  }

.nav-list {
    list-style-type: none;
    display: flex;
    text-align: center;
    margin: 0 10vw 0 0;
    justify-content: space-between;
    padding-inline: 0;
}   

.nav-list-item {
    width: fit-content;
}

a {
    display: block;
    width: 10vw;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}