/* Nav.css */
.Nav {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-bottom: 1px solid rgb(219, 219, 219);
    margin-bottom: 20px;
    height: 50px;
}

.nav-container {
    display: flex;
    width: 100vw;
    max-width: 1000px;
    justify-content: space-between;
}

.gg {
    text-align: left;
    font-size: 40px;
    font-weight: 800;
    width: 5vw;
    vertical-align: middle;
    padding-left: 20px;
  }

.nav-list {
    list-style-type: none;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-inline: 0;
    width: 100%;
}  

.link {
    display: block;
    white-space: nowrap;
    color: black;
    text-decoration: none;
    font-size: 22.5px;
}

.left {
    width: 50%;
    float: left;
}

.right {
    width: 50%;
    float: right;
}